ProyectoGruService/Service References/WfsServiceReference/item7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Rhozet.com/Rhozet.Services.IWfcJmServices" elementFormDefault="qualified" targetNamespace="http://Rhozet.com/Rhozet.Services.IWfcJmServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.221.173.210:8731/Rhozet.JobManager.JMServices/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://10.221.173.210:8731/Rhozet.JobManager.JMServices/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Rhozet.JobManager" />
  <xs:import schemaLocation="http://10.221.173.210:8731/Rhozet.JobManager.JMServices/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" />
  <xs:element name="GetApplicationSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationSettingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="setting" type="q1:KeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRoleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionStringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobManagerStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobManagerStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rhozet.JobManager" minOccurs="0" name="GetJobManagerStatusResult" type="q2:JobManagerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyConfigurationChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GroupConfiguration" nillable="true" type="q3:JobManagerGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyConfigurationChangesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplySystemChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="ManagerConfiguration" nillable="true" type="q4:JobManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplySystemChangesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetSystemConfigResult" nillable="true" type="q5:SystemConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicensingRefreshPage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicensingRefreshPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicensingRefreshPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicensingCapabilitiesPage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicensingCapabilitiesPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicensingCapabilitiesPageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLicensingCapabilitiesPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="capabilities" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLicensingCapabilitiesPageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>